<!DOCTYPE html>
<head>
  <meta charset='utf-8'>
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>

<body>
  <div class="admin">
    <div class="admin-wrapper">
      <%- include('admin-side') %>
      <div class="right">
        <div class="right-wrapper">
          <div class="article">
            <div class="create">
              <span><a href="/admin/article/create">创建文章</a></span>
            </div>
            <%- include('components/article_list') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>