<div class="left">
  <ul class="admin-list">
    <li class="admin-item">
      <a href="/admin/article">文章管理</a>
    </li>
    <li class="admin-item">
      <a href="/admin/category">分类管理</a>
    </li>
    <li class="admin-item">
      <a href="/admin/user">用户管理</a>
    </li>
  </ul>
</div>