<!DOCTYPE html>
<head>
  <meta charset='utf-8'>
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>

<body>
  <div class="admin">
    <div class="admin-wrapper">
      <%- include('admin-side') %>
      <div class="right">
        <div class="form-wrapper">
          <form method="post" action="/admin/article/create">
            <div class="field required">
              <label>标题</label>
              <input name="title">
            </div>
            <div class="field required">
              <label>内容</label>
              <textarea name="content"></textarea>
            </div>
            <div class="field required">
              <label>选择分类</label>
              <select name="sort">
                <option value="html">html/css</option>
                <option value="javascript">javascript</option>
                <option value="nodejs">nodejs</option>
              </select>
            </div>
            <input type="submit" class="ui button" value="发布">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>